:root {
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
}

.image-container {
    all: unset!important;
}

/* .image {
    all: unset!important;
}

@media (min-width: 960px) {
    .image {
        flex-grow: 1;
        order: 2;
        margin: 0;
        min-height: 100%;
    }
} */

.image {
    margin: 20px auto!important;
}

.image-bg {
    all: unset!important;
}
