@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
