$max-content-width           : 1328px;

// Spacers
$spacer                      : 8px;
$spacer--small               : 16px;
$spacer--medium              : 24px;
$spacer--large               : 48px;

// Colors
$gray                        : #2F2F2F;
$white                       : #FFFFFF;

// Breakpoints
$screen-xs                   : 320px;
$screen-s                    : 480px;
$screen-m                    : 768px;
$screen-l                    : 1024px;
$screen-xl                   : 1200px;
$screen-xxl                  : 1600px;
