.vs-carousel {
    position: relative;

    &--vertical {
        .vs-carousel__wrapper {
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            flex-direction: column;
        }
    }

    &__wrapper {
        display: flex;
        height: 200px;

        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        // Hide scrollbar in Firefox, IE, Chrome, Safari
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__slide {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    &__navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 48px;
        min-height: 48px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 3L6 10L14 17' stroke='%232F2F2F' stroke-width='2'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        padding: 0;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 1);
        }

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
            transform: rotate(180deg) translateY(50%);
        }
    }
}
