.example-default {
    .vs-carousel__slide {
        font-size: 40px;
        color: #fff;

        &:nth-child(n+1) {
            background: #2e5c8a;
        }

        &:nth-child(2n+1) {
            background: #336699;
        }
    }
}

.example-multiple {
    .vs-carousel__slide {
        flex: 0 0 100%;

        @media (min-width: 500px) {
            flex: 0 0 50%;
        }

        @media (min-width: 768px) {
            flex: 0 0 33.33%;
        }

        @media (min-width: 1024px) {
            flex: 0 0 25%;
        }

        @media (min-width: 1280px) and (max-width: 1440px) {
            flex: 0 0 20%;
        }
    }
}

.example-images {
    &__image {
        height: 100%;
        width: auto;
    }

    .vs-carousel__navigation {
        border: 1px solid #2F2F2F;

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 1px #2F2F2F;
        }
    }
}

.example-lazy {
    &__image {
        transition: all 0.5s ease-in-out;
        opacity: 0;

        &.lazyloaded {
            opacity: 1;
        }
    }
}
