.vs-carousel {
    &[data-id="fixed"] {
        .vs-carousel__slide {
            flex: 0 0 100%;

            @media (min-width: 500px) {
                flex: 0 0 50%;
            }

            @media (min-width: 768px) {
                flex: 0 0 33.33%;
            }

            @media (min-width: 1024px) {
                flex: 0 0 25%;
            }

            @media (min-width: 1280px) and (max-width: 1440px) {
                flex: 0 0 20%;
            }
        }
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: white;

        &:nth-child(n+1) {
            background: #2e5c8a;
        }

        &:nth-child(2n+1) {
            background: #336699;
        }
    }
}
