.vs-carousel {
    position: relative;
}

.vs-carousel--vertical .vs-carousel__wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-direction: column;
}

.vs-carousel__wrapper {
    display: flex;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.vs-carousel__wrapper::-webkit-scrollbar {
    display: none;
}

.vs-carousel__slide {
    flex: 0 0 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.vs-carousel__navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    padding: 0;
    cursor: pointer;
}

.vs-carousel__navigation:hover,
.vs-carousel__navigation:focus {
    border: none;
}

.vs-carousel__navigation--left {
    left: 0;
}

.vs-carousel__navigation--right {
    right: 0;
}
